name: Build wheels

on: [push]
#   push:
#     tags:
#       - "v*"
 

jobs:
  build_wheels:
    name: Build wheels (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Set up QEMU (for aarch64 on amd64 runners)
        if: runner.os == 'Linux' && runner.arch == 'X64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.20.0
        env:
          CIBW_BUILD: "cp39-* cp310-* cp311-* cp312-*"
          # CIBW_BUILD: "cp311-*"
          
          CIBW_ARCHS_LINUX: "x86_64 aarch64"
          CIBW_ARCHS_WINDOWS: "AMD64 ARM64"
          CIBW_SKIP: "pp* *-win32"
          
          CIBW_TEST_REQUIRES: "pytest"
          CIBW_TEST_COMMAND: "pytest {project}/python_tests/"

          CIBW_BEFORE_BUILD: "python -m pip install -U meson ninja"
          CIBW_ENVIRONMENT_WINDOWS: >
            CMAKE_GENERATOR="Visual Studio 17 2022"
            CC=cl
            CXX=cl
          
      - name: Upload wheels as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl